.container {
  display: flex;

  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #fff;
}

.baseDisplayStyle {
  box-sizing: content-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 320px;
  height: 420px;
  background-color: #c6c6c6;
  border-color: #fff #7f7f7f #7f7f7f #fff;
  border-style: solid;
  border-width: 7px;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

  /* outline: solid;
  outline-width: 7px;
  outline-color: #7f7f7f;
  outline-offset: 0; */
}

.informBoardStyle {
  box-sizing: content-box;
  width: 270px;
  height: 70px;
  margin-top: 21px;
  border-color: #7f7f7f #fff #fff#7f7f7f;
  border-style: solid;
  border-width: 7px;
}

.backBoardStyle {
  z-index: 2;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 23px;
  border-color: #7f7f7f #fff #fff#7f7f7f;
  border-style: solid;
  border-width: 7px;
}

.backCellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1.5px #7f7f7f;
}

.imageStyle {
  display: flex;
  width: 22px;
  height: 22px;
  background: url('~/src/assets/images/iconsS.png') no-repeat;
}

.frontBoardStyle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 134px;
}

.blindCellStyle {
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-color: #fff#7f7f7f#7f7f7f #fff;
  border-style: solid;
  border-width: 4px;
}

.whiteLineBlindUp {
  position: absolute;
  width: 30px;
  height: 30px;
  clip-path: polygon(0 0, 100% 0, 89.7% 12%, 0 12%);
  background-color: white;
}

.whiteLineBlindLeft {
  position: absolute;
  width: 30px;
  height: 30px;
  clip-path: polygon(0 0, 12% 12%, 12% 89.7%, 0 100%);
  background-color: white;
}

.scoreBoardStyle {
  box-sizing: content-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 200px;
  height: 250px;
  margin-left: 70px;
  background-color: #f8f8f8;
  border: solid;
  border-color: #fff #d7d7d7 #d7d7d7 #fff;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
}

.scoreBoardStringStyle {
  width: 180px;
  height: 40px;
  margin-top: 10%;
  font-size: 15px;

  /* border: solid; */
}
