.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #e4e4e4;
}

.baseDisplayStyle {
  box-sizing: content-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 320px;
  height: 420px;
  border-color: #fff #7f7f7f #7f7f7f #fff;
  border-style: solid;
  border-width: 7px;
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

  /* outline: solid;
  outline-width: 7px;
  outline-color: #7f7f7f;
  outline-offset: 0; */
}

.informBoardStyle {
  box-sizing: content-box;
  width: 270px;
  height: 70px;
  margin-top: 21px;
  border-color: #7f7f7f #fff #fff#7f7f7f;
  border-style: solid;
  border-width: 7px;
}

.backBoardStyle {
  z-index: 2;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 23px;
  border-color: #7f7f7f #fff #fff#7f7f7f;
  border-style: solid;
  border-width: 7px;
}

.backCellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px #6b6b6b;
}

.imageStyle {
  display: flex;
  width: 22px;
  height: 22px;
  background: url('~/src/assets/images/iconsS.png') no-repeat;
}

.frontBoardStyle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 135px;
}

.blindCellStyle {
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #e4e4e4;
  border-color: #fff#7f7f7f#7f7f7f #fff;
  border-style: solid;
  border-width: 3px;
}

.whiteLineBlindUp {
  position: absolute;
  width: 30px;
  height: 30px;
  clip-path: polygon(0 0, 100% 0, 89.7% 12%, 0 12%);
  background-color: white;
}

.whiteLineBlindLeft {
  position: absolute;
  width: 30px;
  height: 30px;
  clip-path: polygon(0 0, 12% 12%, 12% 89.7%, 0 100%);
  background-color: white;
}
