.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #e4e4e4;
}

.baseDisplayStyle {
  display: flex;
  flex-flow: column;
  align-items: center;

  /* justify-content: center; */
  width: 320px;
  height: 420px;
  background-color: #c6c6c6;
  outline: solid;
  outline-width: 7px;
  outline-color: #7f7f7f;
  outline-offset: 0;
}

.whiteLineBaseUp {
  position: absolute;
  width: 335px;
  height: 435px;
  clip-path: polygon(0.25% 0.1%, 99.8% 0.1%, 97.8% 1.7%, 0.25% 1.7%);
  background-color: rgb(255 255 255);
}

.whiteLineBaseLeft {
  position: absolute;
  width: 335px;
  height: 435px;
  clip-path: polygon(0.2% 0.1%, 2.3% 0.6%, 2.3% 98.3%, 0.2% 99.83%);
  background-color: rgb(255 255 255);
}

.informBoardStyle {
  width: 270px;
  height: 70px;
  margin-top: 6.6%;
  outline: 5px outset #7f7f7f;
  outline-offset: 0;
}

.whiteLineInfoBottom {
  position: absolute;
  width: 280px;
  height: 81px;
  margin-top: 15.5px;
  clip-path: polygon(1.8% 92.5%, 99.3% 92.5%, 99% 98%, 0.4% 98%);
  background-color: white;
}

.whiteLineInfoRight {
  position: absolute;
  width: 280.5px;
  height: 81px;
  margin-top: 15.5px;
  clip-path: polygon(98% 7.3%, 99.5% 2.1%, 99.5% 98%, 98% 98%);
  background-color: white;
}

.backBoardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 7%;
  background-color: #c6c6c6;
  outline: 5px outset #7f7f7f;
  outline-offset: -1px;
}

.whiteLineBombBottom {
  position: absolute;
  width: 278px;
  height: 280px;
  margin-top: 109px;
  clip-path: polygon(1.6% 98.1%, 101% 98.1%, 101% 99.69%, 0.14% 99.69%);
  background-color: white;
}

.whiteLineBombRight {
  position: absolute;
  width: 280.5px;
  height: 280px;
  margin-top: 109px;
  clip-path: polygon(98% 1.5%, 99.5% 0%, 99.5% 99.5%, 98% 99.5%);
  background-color: white;
}

.backCellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  outline: solid;
  outline-width: 0.1px;
  outline-color: #7b7a7a;
}

.imageStyle {
  display: flex;
  width: 20px;
  height: 20px;
  background: url('~/src/assets/images/iconsSS.png') no-repeat;
}

.frontBoardStyel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 7%;
}
